body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff512f, #dd2476);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    padding: 12px 25px;
    background: white;
    color: #dd2476;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background: #ff512f;
    color: white;
    transition: 0.3s;
}