<!DOCTYPE html>
<html>
<head>
    <title>FWI Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='predict.css') }}">
</head>
<body>

<div class="form-container">
    <h2>Enter Weather Details</h2>

    <form action="{{ url_for('predict') }}" method="post">

        <input type="text" name="Temperature" placeholder="Temperature" required>
        <input type="text" name="RH" placeholder="RH" required>
        <input type="text" name="Ws" placeholder="Wind Speed" required>
        <input type="text" name="Rain" placeholder="Rain" required>
        <input type="text" name="FFMC" placeholder="FFMC" required>
        <input type="text" name="DMC" placeholder="DMC" required>
        <input type="text" name="ISI" placeholder="ISI" required>
        <input type="text" name="Classes" placeholder="Classes" required>
        <input type="text" name="Region" placeholder="Region" required>

        <button type="submit">Predict</button>
    </form>

    <h3>{{ results }}</h3>
</div>

</body>
</html>
